/* src/App.css */

/* css for AppIntro.js */
.AppIntro {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.general-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh; 
}

.intro-container, .form-container {
  width: 50%;
  padding: 20px;
  box-sizing: border-box; 
} 

.intro-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url('/public/back4.jpg') no-repeat center center; 
  background-size: cover;
  color: white;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); 
  position: relative; 
}

.intro-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); 
  z-index: 1; 
}

.intro-container h1, .intro-container h2 {
  position: relative;
  z-index: 2; 
}

.intro-container h1 {
  font-size: 2.5rem;
  font-weight: 300;
}

.intro-container h2 {
  font-size: 2rem;
  font-weight: 300;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff; 
  padding: 100px;
}

.filter-products {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0;
  padding: auto;
  background-color: #fff;
  border-radius: 0px;
  width: 100%;
}

/* css for SelectYouProduct.js */

.select-text {
  margin-bottom: 10px;
  font-size: 1.5rem;
  font-weight: 300;
  color: green;
}

.filter-option {
  display: flex;
  align-items: center;
  padding: 5px;
  cursor: pointer;
  margin-bottom: 5px;
}

.circle {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 10px;
  border: 2px solid orange;
  border-radius: 50%;
  background-color: white;
  cursor: pointer;
  position: relative;
}

.circle.filled::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 75%;
  height: 75%;
  background-color: orange;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.item-image {
  width: 75px;
  height: 75px;
  margin-right: 20px;
}

.item-details {
  flex: 1;
}

.item-info {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.item-name {
  font-weight: bold;
  flex: 1;
}

.item-features {
  font-size: 0.8rem;
  color: #666;
}

.item-price {
  margin-left: auto;
  color: green;
  font-weight: bold;
  white-space: nowrap;
}

.item-info2 {
  margin-bottom: 10px; 
}

.item-actions {
  display: flex;
  justify-self: space-between;
  align-items: center;
  margin-top: 5px;
}

.item-actions label {
  margin-right: 10px;
  font-size: 0.9rem;

}

.item-actions input {
  width: 50px;
  margin-left: 5px;
  border: 1px solid orange;
  border-radius: 5px;
}

.proceed-to-payment-button {
  background-color: green;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 20px;
  display: block;
  width: 100%;
  text-align: center;
}

.proceed-to-payment-button:hover {
  background-color: darkgreen;
}

/* css for Payment.js*/

.container {
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-bottom: 200px; 
}

.back-button {
  background: none;
  border: none;
  color: green;
  font-size: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-bottom: 50px;
  margin-left: 0;
}

.back-icon {
  width: 16px;
  height: 16px;
  margin-right: 0px;
  fill: green;
}

.total-price {
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 20px;
  color: green;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  color: #333;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  box-sizing: border-box;
}

.form-group input:focus {
  border-color: #ff9800; 
  outline: none;
  box-shadow: 0 0 5px rgba(255, 152, 0, 0.5);
}

.form-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.submit-button {
  background-color: green; 
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.submit-button:hover {
  background-color: #45a049;
}

/* css for ThankPage.js */

.confirmation-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  text-align: center; 
  font-size: 2.5rem;
  font-weight: 300;
}

.confirmation-container h1 {
  margin-bottom: 20px;
  font-size: 2.5rem;
  font-weight: 300;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  line-height: 100px;
  border-radius: 50%;
  background-color: transparent;
  border: 5px solid orange;
  color: green;
  font-size: 3em;
  text-align: center;
  vertical-align: middle;
  margin: 20px auto;
}

.icon svg {
  width: 75px;
  height: 75px;
  fill: green;
}

.close-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: green;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* css for @media queries for tablet view (iPad) and below */
@media (max-width: 1024px) {
  .general-container {
    flex-direction: column;
    align-items: center;
  }

  .intro-container, .form-container {
    width: 100%;
    padding: 10px;
  }

  .intro-container {
    margin-bottom: 10px;
  }
}